<tr class="@((isSelected) ? "bg-green-500" : "") 
           border-b border-neutral-600 text-neutral-100"
    @onclick="(args) => SelectedEntryUpdate(args, entry)">
    <th class='py-4 px-6 font-medium'>@entry.Id</th>
    <td>@entry.Title</td>
    <td>@entry.Username</td>
    <td>@entry.URL</td>
</tr>

@code {
    [Parameter]
    public bool isSelected { get; set; }
    [Parameter]
    public EventCallback<Entry> OnEntrySelected { get; set; }
    [Parameter]
    public Entry entry { get; set; }

    private async Task SelectedEntryUpdate(MouseEventArgs e, Entry entry)
    {
        await OnEntrySelected.InvokeAsync(entry);
    }
}

