<tr class="@((entries.selectedEntry == entry) ? "bg-violet-500/90 font-semibold text-white" : "hover:bg-violet-400 hover:text-zinc-200 bg-neutral-700/20 text-zinc-300")
           px-6 align-middle text-sm text-left whitespace-nowrap p-4 border-b border-neutral-700/50"
    @onclick="(args) => entries.SelectedEntryUpdate(entry)">
    <th class='py-2 px-3'>@entry.Id</th>
    <td>@entry.Title</td>
    <td>@entry.Username</td>
    @if (entry.URL != null)
    {
        <td><a class="underline" href="@entry.URL">@entry.URL</a></td>
    }
    else
    {
        <td></td>
    }
    <td>@(entry.LastModifiedDate == DateTime.MinValue ? "never" : entry.LastModifiedDate.ToShortDateString())</td>
    <td>
        <button @onclick="() => entries.MarkAsFavorite(entry)">
            @if(entry.IsFavorite){
                <span>
                    <i class="fa fa-heart text-red-600"></i>
                </span>
            } else {
                <span>
                    <i class="fa fa-heart text-zinc-600"></i>
                </span>
            }
        </button>
        
    </td>
</tr>

@code {
    [Parameter]
    public Entry entry { get; set; }
    [CascadingParameter]
    public Entries entries { get; set; }

}

